{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <form method="POST" id="productForm" data-subcategories-url="{% url 'load_subcategories' %}"
    enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Make a Donation</legend>
      <table>
        {{ form.as_table }}
      </table>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit"><i class="fa fa-plus" style="font-size:20px"></i> Upload</button>
    </div>
  </form>
</div>

{% endblock content %}
{% block extrajs %}
<script>
  $("#id_category").change(function () {
    var url = $("#productForm").attr("data-subcategories-url");
    var categoryId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'category': categoryId
      },
      success: function (data) {

        $("#id_subcategory").html(data);
      }
    });

  });
</script>
{% endblock %}