{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <table id="example" class="table table-bordered" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th>User Interests</th>
                <th>Product User</th>
                <th>Wished_item</th>
                <th>Date_Created</th>
                <th>Remove</th>
            </tr>
        </thead>
        {% for interest in interests %}
        <tr>
            <tbody>
                <td><a href="{% url 'userprofiles:user_profile' user.id %}">{{user}}</a></td>
                <td><a href="{% url 'userprofiles:user_profile' interest.wished_item.user.id %}">{{ interest.wished_item.user }}</a></td>
                <td>{{interest.wished_item}}</td>
                <td>{{interest.date_created}}</td>
                {% if interest.wished_item.status == 'Pending' %}
                <td><a class="btn-sm btn-danger" href="{% url 'product:delete_interest' interest.id %}">Delete</a></td>   
                {% else %}
                <td>You already received this item!</td>      
                {% endif %}  
            </tbody>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}